Temp1, Temp2 Temp3 e Temp4 são temperaturas medidas em diferentes partes da planta
Target representa o estado da qualidade da amostra (temp1, temp2, temp3 e temp4)

In [20]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt


#p1_data_test_df = pd.read_csv('p1_data_test.csv',header=0)
df = pd.read_csv('../p1_data_train.csv',header=0)

print len(df)
pct = int(len(df)*0.5)
print pct
new_df = df[df.index > pct]
new_df

5209
2604

          Temp1      Temp2      Temp3      Temp4  target
2605  37.997054  37.138441  43.722321  29.293473       0
2606  31.929526  30.959074  38.480534  27.567656       1
2607  44.452252  36.505411  38.822902  53.065589       1
2608  30.403867  29.580337  32.493264  39.332058       1
2609  43.074016  46.933978  39.613191  36.638575       1
2610  33.694508  41.026410  30.552226  37.435877       1
2611  44.414207  22.078174  39.771560  29.481453       0
2612  35.523527  36.179358  36.131273  36.089472       1
2613  32.418932  27.191190  19.008164  29.863861       0
2614  27.534710  15.810592  38.703939  22.243932       0
2615  29.861799  37.282191  41.664763  27.944440       1
2616  25.116939  43.923204  20.962364  38.040430       1
2617  45.844694  22.706618  49.131820  28.842131       0
2618  27.750231  42.141700  32.163658  31.421670       0
2619  31.679379  42.528919  32.818375  49.598063       1
2620  24.407084  34.926248  39.509454  31.328545       0
2621  31.438483  29.483027  26.378614  37.237622       1
2622  42.097131  26.308267  43.853254  32.007550       0
2623  31.138072  27.558361  21.476868  21.678367       0
2624  41.712736  44.001502  42.321385  34.120358       1
2625  39.002249  49.057580  37.768732  37.665207       1
2626  46.696594  32.602171  47.167326  33.550525       0
2627  38.947286  45.894289  42.797572  32.335511       1
2628  27.005304  51.249237  14.053095  33.574358       1
2629  43.838038  28.290297  40.550213  23.395021       0
2630  27.280646  37.422814  30.323308  42.448307       1
2631  41.005133  37.892992  32.218465  42.272312       1
2632  35.936550  42.373014  52.435719  41.800333       1
2633  47.738760  20.795940  46.666505  26.958642       0
2634  35.221216  43.864447  44.115473  42.142603       1
...         ...        ...        ...        ...     ...
5179  39.186606  26.138079  36.779283  29.303698       0
5180  49.431645  30.490756  37.868250  21.961549       0
5181  24.710723  20.293734  15.651789  25.645608       0
5182  51.529853  38.557298  39.533458  27.755264       0
5183  34.670901  12.703905  34.197874  31.818578       0
5184  47.544957  30.804859  32.729223  33.127107       0
5185  34.836260  24.360650  35.240417  30.445009       0
5186  48.361894  44.808955  36.919842  37.582415       1
5187  41.040494  35.294131  36.603095  26.219766       0
5188  26.482798  22.372189  30.155809  32.012882       0
5189  30.428677  53.446034  26.935802  47.066130       1
5190  44.338928  38.721892  40.044447  36.849432       1
5191  40.705855  27.233661  47.061109  32.443130       0
5192  46.206728  26.890741  40.386153  38.856098       0
5193  36.302187  39.213925  22.715638  49.130761       1
5194  27.000655  31.295161  29.423480  30.652046       0
5195  33.657666  20.004207  28.791446  27.317317       0
5196  32.500665  44.517841  27.079064  35.821837       1
5197  40.911587  34.939695  37.855141  37.922647       1
5198  36.580228  28.063964  38.417694  35.074030       0
5199  34.165743  39.588449  34.505612  33.125890       1
5200  27.522591  34.427625  29.448282  24.417261       0
5201  39.797864  39.548852  44.503485  46.462310       1
5202  40.871957  40.268328  38.439344  46.964650       1
5203  38.008263  43.618857  30.900445  41.194809       1
5204  35.810039  40.808990  36.789912  37.555780       1
5205  43.065104  36.784739  53.019730  47.929034       1
5206  33.025842  46.658817  20.536894  40.757932       1
5207  33.678864  46.705067  42.336115  32.714649       1
5208  48.835906  42.847292  43.775250  41.831867       1

[2604 rows x 5 columns]

In [2]:
def get_outliers_index(df, columns, gama = 1.5):
    index_to_drop = []
    for column in columns:
        q2 = df[column].median()
        q3 = df[df[column] > q2][column].median()
        q1 = df[df[column] < q2][column].median()

        IQR = q3 - q1

        index_to_drop += list(df[(df[column] > q3 + gama*IQR) | (df[column] < q1 - gama*IQR)][column].index.values)

    return list(np.unique(index_to_drop))

In [4]:
df.head()


index_to_drop = get_outliers_index(df,['Temp1','Temp2','Temp3','Temp4'])
print df.shape
print len(index_to_drop)
print index_to_drop
df = df.drop(df.index[index_to_drop])
print df.shape

(5209, 5)
59
[13, 29, 92, 117, 125, 263, 434, 474, 527, 645, 660, 693, 699, 711, 822, 823, 889, 1006, 1043, 1100, 1440, 1496, 1515, 1564, 1567, 1573, 1714, 1983, 2090, 2149, 2422, 2450, 2454, 2667, 2738, 2892, 2980, 3006, 3037, 3081, 3176, 3300, 3311, 3374, 3380, 3450, 3733, 3795, 3883, 4014, 4095, 4185, 4413, 4625, 4782, 4786, 4925, 4949, 5112]
(5150, 5)

In [ ]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'year': [2012, 2012, 2013, 2014, 2014],
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df
df.drop(df.index[[0,1,2]])

17