Temp1, Temp2 Temp3 e Temp4 sÃ£o temperaturas medidas em diferentes partes da planta
Target representa o estado da qualidade da amostra (temp1, temp2, temp3 e temp4)

In [90]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt


#p1_data_test_df = pd.read_csv('p1_data_test.csv',header=0)
df = pd.read_csv('p1_data_train.csv',header=0)

In [120]:

def get_outliers_index(column):
    q3 = df[column].median()
    q1 =df[df[column] > q2][column].median()
    q1 = df[df[column] < q2][column].median()

    IQR = q3 - q1

    return  df[(df[column] > q3 + 2*IQR) | (df[column] < q1 - 2*IQR)][column].index.values

In [121]:
def get_outliers_index():
    outliers_temp1 = get_outliers_index('Temp1')
    outliers_temp2 = get_outliers_index('Temp2')
    outliers_temp3 = get_outliers_index('Temp3')
    outliers_temp4 = get_outliers_index('Temp4')

    print len(outliers_temp1)
    print len(outliers_temp2)
    print len(outliers_temp3)
    print len(outliers_temp4)

    index_to_drop = list(outliers_temp1) + list(outliers_temp2) + list(outliers_temp3) + list(outliers_temp4)

    print
    print len(index_to_drop)
    print

    index_to_drop = list(np.unique(index_to_drop))
    return index_to_drop

742
190
170
729

1831

1583

In [81]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'year': [2012, 2012, 2013, 2014, 2014],
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df.drop(df.index[[0,2]])
df.drop(df.index[[0,2]])

           name  reports  year
Pima      Molly       24  2012
Maricopa   Jake        2  2014
Yuma        Amy        3  2014

In [ ]:

a = [1,2,1,3]